html {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a { 
    color: inherit;
    text-decoration: none;
    transition: color .2s ease;
  }

  a:hover {
    color: #454545;
  }

  body {
    
    position: relative;

    color: #525f6b;

    overflow: hidden;

    padding: 0;
    padding-top: 2em;
    padding-bottom: 2.35em;
    max-height: 100%;
    width: 25.7em;
    height: 14.75em;
    
    font-size: 3.5vmin;
    
    border: none;
  }

  body:after {
    content: "Certificado";

    position: absolute;
    right: 0;
    bottom: 0;

    transform-origin: 100% 100%;
    transform: 
      rotateZ(-90deg) 
      translateX(150%);

    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.25em;

    color: #F4F4F4;
  }

  h1, p, h2, ol, footer { 
    padding-left: 2rem;
    padding-right: 2rem;
  }


  h1 {
    margin-bottom: .25em;
    padding-top: 1em;
    padding-bottom: .5em;
    padding-right: 25%;

    font-weight: bold;
    font-family: 'Helvetica';
    font-size: 1.3em;
    letter-spacing: -.087em;

    border-bottom: 3px solid rgb(116, 26, 134);
    background: linear-gradient(45deg,#b309f5,#44efff);
    color: #ffffff;
  }

  h1:after {
    content: '_';
  }

  .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }

  p {
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 4rem;   
    padding-top: 3rem;
  }

  p a {
    background: rgb(116, 26, 134);
    color: white;

    padding: 0.087em 0.2175em;

    text-transform: uppercase;
    letter-spacing: 0.087em;
    font-weight: normal;
  }

  p a:hover {
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(
      rgba(255,255,255,.1),
      rgba(255,255,255,.1)
    );
  }

  p a:before {
    content: '#';
  }

  p a:hover:before {
    font-weight: bold;
  }


  p span {
    display: block;
    margin-top: .5em;
    font-size: .75em;
    letter-spacing: -0.075em;
  }


  h2 {
    font-size: .75em;
    text-transform: uppercase;
    margin-top: 2em;

    color: #48CCCA;
  }

  a:hover {
    text-decoration: underline;
  }

  footer {
    position: absolute;
    padding-top: .125em;
    padding-bottom: .5em;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: left;

    background: inherit;
  }

  footer figure {
    font-size: .4em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  footer figcaption {
    text-align: center;
    padding-top: .25em;
    border-top: .025em solid rgb(116, 26, 134);
    font-size: 1rem;
  }

  footer a img{
    width: 100px;
  }

  footer > * + * {
    margin-left: 2em;
  }

  button {
    
    border: none;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
      
    font-size: .5em;
    text-transform: uppercase;
  
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #d3d3d3;
    color: #808080;
    border-radius: 8px;
  }
  
  button:not(:disabled) {
    cursor: pointer;
  }
  
  button:hover:not(:disabled) {
      background-image: linear-gradient(
        rgba(255,255,255,0.25),
        rgba(255,255,255,0.25)
      );
  
  }
  
  button:active:not(:disabled) {
    background-image: linear-gradient(
      rgba(0,0,0,0.15),
      rgba(0,0,0,0.15)
    );
    transform: scale(0.98)
  }
  
  button:disabled {
    background-color: #cacaca;
  }

  @media print {
    @page {
      size: landscape;
      margin: 0;
      size: A4 landscape;
    }
    
    html {
      background: none;
    }
    
    body {
        max-width: 2035px;
        max-height: 1505px;
        font-size: 3.6vw;
    } 
  }
  
  